<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />

    <title>Metier</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark nav-color">
      <div class="container-fluid">
        <a class="navbar-brand nav-title" href="/">
          Metier
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo02"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/shop">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/get-inspired">Get Inspired</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#/sessions">Sessions</a>
            </li>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="post" action="/">
              <input
                type="search"
                class="form-control form-control-dark"
                placeholder="Search..."
                aria-label="Search"
              />
            </form>
            <div class="text-end">
              <button type="button" class="btn btn-dark" onclick="location.href='/login'">
                Login
              </button>
            </div>
          </ul>
        </div>
      </div>
    </nav>

    <div class="landing container">
        <h2>Lorem Ipsum</h2>
    </div>


<%- include("partials/footer") %> 

