body {
  font-family: "Oxygen", sans-serif;
}

/* NavBar */
.navbar{
  padding-top: 0;
  padding-bottom: 0;
}

.nav-title {
  font-family: "Rozha One", serif;
  font-size: 65px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-color {
  background-color: #fab007;
}

#navbarTogglerDemo02 {
  margin-top: 10px;
}

/* Login */
.googleLogo {
  width: 20px;
  margin-right: 0.5rem;
}

.btn-google-login {
  background-color: black;
  padding: 0.7rem;
  border-radius: 20px;
  color: white;
}